:root {
  font-family: "Inter", "Source Serif Pro", system-ui, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.formText1 {
  padding: 13px;
  height: 116px;
}

.formSize2 {
  padding: 13px;
}

.formTextBorder {
  margin-top: 3px;
  border: 0;
  resize: none;
  border-radius: 5px;
  font-family: "Inter";
  font-size: 12px;
}

.font1 {
  font-family: "Source Serif Pro";
}

.formBtn {
  background-color: black;
  color: white;
  font-family: "Inter";
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.formBtnSM {
  padding: 0px 18px;
  margin-left: 10px;
  cursor: pointer;
}

.formBtnLG {
  margin: 10px auto;
  padding: 16px 50px;
  cursor: pointer;
}

.formBtnXL {
  background-color: white;
  color: black;
  font-family: "Inter";
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  margin: 10px 0;
  padding: 16px 50px;
  transition: 0.2s;
}
